<!doctype html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- FontAwesome JS -->
    <script defer src="assets/fontawesome/js/all.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/elegant_font/css/style.css" />
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css" />

    <!-- highlight -->
    <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/github.min.css" />
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  </head>

  <body class="landing-page">
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <div class="page-wrapper">
      <header class="header text-center">
        <div class="container">
          <div class="branding">
            <h1 class="logo">
              <span class="text-highlight"><%= htmlWebpackPlugin.options.org %></span>
              <span class="text-bold"><%= htmlWebpackPlugin.options.name %></span>
            </h1>
          </div>
          <div class="tagline">
            <p><%= htmlWebpackPlugin.options.description %></p>
          </div>

          <br />
          <div w3-include-file="partial/social.html"></div>
          <br />
          <a class="btn btn-primary btn-lg" href="md.html?file=README.md&title=Read me" role="button">
            <i class="icon fa fa-paper-plane"></i>
            Start or Contribute
          </a>
        </div>
      </header>

      <section class="landing-section">
        <div class="container section-body row">
          <div class="col-4 text-center">
              <img class="logo" src="https://static.bndy.net/images/logo_fill.svg">
          </div>
          <div class="col-8 center-children">
            <div class="text-center">
              <span class="keywords">ES, UMD, Types</span>
              <br />
              <br />
              <code class="typewriter">
                $ npm i <%= htmlWebpackPlugin.options.title %>
              </code>
            </div>
          </div>
        </div>
      </section>

      <section class="hello-section">
        <div class="container">
          <div class="section-body">
            <div class="outer yosemite">
              <div class="dot red"></div>
              <div class="dot amber"></div>
              <div class="dot green"></div>
            </div>
            <div class="window-body">
              <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="tab-1" data-bs-toggle="tab" data-bs-target="#tab-pane-1" type="button" role="tab" aria-controls="tab-pane-1" aria-selected="true">HTML</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="tab-2" data-bs-toggle="tab" data-bs-target="#tab-pane-2" type="button" role="tab" aria-controls="tab-pane-2">JavaScript</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="tab-3" data-bs-toggle="tab" data-bs-target="#tab-pane-3" type="button" role="tab" aria-controls="tab-pane-3">TypeScript</button>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show" id="tab-pane-1" role="tabpanel" aria-labelledby="tab-1" tabindex="0">
                  <pre><code class="language-html"  w3-include-file="codes/html" w3-html-encode></code></pre>
                </div>

                <div class="tab-pane fade show active" id="tab-pane-2" role="tabpanel" aria-labelledby="tab-2" tabindex="0">
                  <pre><code class="language-javascript"  w3-include-file="codes/javascript" w3-html-encode></code></code></pre>
                  <pre><code class="language-html" w3-include-file="codes/html" w3-html-encode></code></pre>
                </div>

                <div class="tab-pane fade show" id="tab-pane-3" role="tabpanel" aria-labelledby="tab-3" tabindex="0">
                  <pre><code class="language-typescript" w3-include-file="codes/typescript"></code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

      <section class="cards-section text-center">
        <div class="container">
          <div id="cards-wrapper" class="cards-wrapper row">
            <div class="item item-pink item-2 col-lg-4 col-6">
              <div class="item-inner">
                <div class="icon-holder">
                  <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
                </div>
                <h3 class="title">Components</h3>
                <p class="intro">The examples about all components.</p>
                <a class="link" href="components.html"><span></span></a>
              </div>
            </div>
            <div class="item item-blue col-lg-4 col-6">
              <div class="item-inner">
                <div class="icon-holder">
                  <span aria-hidden="true" class="icon icon_book"></span>
                </div>
                <h3 class="title">API Documentation</h3>
                <p class="intro">View all members that includes properties, functions and the source code.</p>
                <a class="link" href="api.html"><span></span></a>
              </div>
            </div>
            <div class="item item-green col-lg-4 col-6">
              <div class="item-inner">
                <div class="icon-holder">
                  <span aria-hidden="true" class="icon icon_calendar"></span>
                </div>
                <h3 class="title">Changelog</h3>
                <p class="intro">You can view changes of all versions.</p>
                <a class="link" href="md.html?file=CHANGELOG.md&title=Changelog&theme=green"><span></span></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div w3-include-file="partial/footer.html"></div>

    <!-- Main Javascript -->
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/stickyfill/stickyfill.min.js"></script>
    <script src="assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
