body {
  background: #f9f9fb;
}

iframe {
  width: 100%;
  height: calc(100vh - 185px);
}

code {
  background-color: #efefef;
  padding: 0 5px;
  font-size: 0.85em;
  color: inherit !important;
  border-radius: 3px;
}

code[class*="language-"] {
  text-shadow: none;
}

pre code {
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 5px;
}

.api-page .container {
  max-width: 1700px !important;
  padding: 0 32px;
  box-sizing: content-box;
}

#file-content h1 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#file-content h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#file-content h3 {
  font-size: 1rem;
  font-weight: bold;
}