aside {
  position: fixed;
  top: 80px;
  padding-left: 20px;
  width: 180px;
}
aside .nav-link {
  color: var(--bs-body-color) !important;
}
aside .nav-link.active {
  font-weight: bold;
  background-color: transparent !important;
}
main {
  position: relative;
  height: calc(100vh - 56px);
  overflow-y: scroll;
  margin-top: 56px;
  margin-left: 180px;
  padding: 1.5rem 2rem 0 2rem;
}
main section {
  margin-bottom: 2rem;
}

.forkme {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

section.markdown-body {
  font-size: 14px;
  margin-bottom: 2rem;
}
