name: Check version

on: 
  workflow_call:

jobs:
  check:
    runs-on: ubuntu-latest

    outputs:
      NEXT_RELEASE_VERSION: ${{ steps.chkVersion.outputs.NEXT_RELEASE_VERSION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install dependencies
        run: npm ci

      - name: Check version
        id: chkVersion
        run: npm run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Print outputs
        run: echo ${{ steps.chkVersion.outputs.NEXT_RELEASE_VERSION }}

