name: Release

on: push

env:
  NODE_VERION: 12.x

jobs:
  build:
    name: Publish to NPM & GitHub
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Use Node.js ${{ env.NODE_VERION }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.NODE_VERION }}
        registry-url: https://registry.npmjs.org

    - name: Install dependencies
      run: npm ci

    - name: Build package
      run:
        npm run test:prod
        npm run build --if-present

    # - name: Check version
    #   run: npm run semantic-release
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    # - name: Publish to NPM
    #   run: npm publish
    #   env:
    #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    # - name: Set up registry for GitHub
    #   uses: actions/setup-node@v1
    #   with:
    #     registry-url: https://npm.pkg.github.com/

    # - name: Publish to GitHub
    #   run: npm publish
    #   env:
    #     NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish gh-pages
      run: npm run deploy-gh-pages
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}