name: Release

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        persist-credentials: false

    # - name: Install dependencies
    #   run: npm install

    # - name: Build package
    #   run: |
    #     npm run build --if-present

    # - name: Semantic release to NPM
    #   run: npx semantic-release
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm install

    - name: Build package
      run: npm run build --if-present
      
    - name: Setup registry to GitHub
      uses: actions/setup-node@v1
      with:
        registry-url: https://npm.pkg.github.com/

    - name: Publish to GitHub
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Setup registry to NPM
      uses: actions/setup-node@v1
      with:
        registry-url: https://registry.npmjs.org/
        
    - name: Publish to GitHub
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
